@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    padding: 0;
    margin: 0;
}

.video-card {
    position: relative;
    margin: 20px auto;
    max-width: 500px;
}

.video-card h2 {
    text-align: center;
}
